#aula{
    color: white;
    background: rgb(0,0,0);
background: linear-gradient(230deg, rgba(0,0,0,1) 0%, rgba(147,70,70,1) 100%);

    width: 50px;
    padding: 5px 10px;
    font-size: 20px;
    border-radius: 7px;
    text-decoration: none;
}
#ba{
align-content: space-between;
    
}
